<div class="col-sm-6">
	<form class="form-horizontal" name="pwd_change_form">
		<uib-alert dismiss-on-timeout="100" ng-show="success" type="success" close="closeAlert()">Password Changed Successfully!</uib-alert>
		<uib-alert dismiss-on-timeout="100" ng-show="error" type="danger" close="closeAlert()">{{errMessage}}</uib-alert>
		<div class="form-group">
			<label for="" class="col-sm-5 control-label">Old Password</label>
			<div class="col-sm-7">
				<input type="password" name="pwd"class="form-control" ng-model="cp_data.oldPassword"
				required	placeholder="Old Password" value="">
					<span style="color: red"
					ng-show="(pwd_change_form.pwd.$pristine || pwd_change_form.pwd.$dirty) && pwd_change_form.pwd.$invalid">
					<span ng-show="pwd_change_form.pwd.$error.required">required.</span>
					</span>
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-5 control-label">New Password</label>
			<div class="col-sm-7">
				<input type="password" name="newpwd"class="form-control" ng-model="cp_data.password"
					required placeholder="New Password" value="">
					<span style="color: red"
					ng-show="(pwd_change_form.newpwd.$pristine || pwd_change_form.newpwd.$dirty) && pwd_change_form.newpwd.$invalid">
					<span ng-show="pwd_change_form.newpwd.$error.required">required.</span>
					</span>
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-5 control-label">Old Password</label>
			<div class="col-sm-7">
				<input type="password" name="oldpwd"class="form-control" ng-model="cp_data.rePassword"
				required	placeholder="Confirm Password" value="">
					<span style="color: red"
					ng-show="(pwd_change_form.oldpwd.$pristine || pwd_change_form.oldpwd.$dirty) && pwd_change_form.oldpwd.$invalid">
					<span ng-show="pwd_change_form.oldpwd.$error.required">required.</span>
					</span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-5 col-sm-7">
				<button type="submit" class="btn btn-default"
					ng-click="changePassword(cp_data)"
					ng-disabled= "pwd_change_form.$invalid"> Change Password </button>
					
					
					
			</div>
		</div>
	</form>
</div>
