<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Cubic Report App</title>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
<script type="text/javascript" src="../static/js/angular.min.js"></script>
<script type="text/javascript" src="../static/js/ui-bootstrap.js"></script>
<script type="text/javascript" src="../static/js/app.js"></script>
</head>
<body>
	<header>
		<div class="container">
			<h1>Cubic App</h1>
			<nav>
				<ul>
					<li><a href="#dashboard">Dashboard</a></li>
					<li><a href="#reports">Reports</a></li>
					<li><a href="#manage">Manage</a></li>
					<li><a href="#admin">Admin</a></li>
					<li><a href="/logout">logout</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<section id="content">
		<div class="container">
			<div ng-view></div>
		</div>
	</section>
	<footer>
		<div class="container">
			<p>Copyright &copy; 2015. All rights reserved at Cubic Technologies.</p>
		</div>
	</footer>
</body>
</html>