<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	ng-app="cubicApp"
	>
<head>
<title>Cubic Report App</title>
<link rel="stylesheet" type="text/css" href="../static/js/bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
<link rel="stylesheet" type="text/css" href="../static/js/bower_components/components-font-awesome/css/font-awesome.css" />
<script src="../static/js/bower_components/angular/angular.min.js"></script>
<script src="../static/js/bower_components/angular-route/angular-route.js"></script>
<script src="../static/js/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="../static/js/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../static/js/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="../static/js/app.js"></script>
<script src="../static/js/services/userService.js"></script>
<script src="../static/js/services/candidateService.js"></script>
<script src="../static/js/services/interviewService.js"></script>
<script src="../static/js/services/applicationService.js"></script>
<script src="../static/js/controller/dashboardCtrl.js"></script>
<script src="../static/js/controller/adminCtrl.js"></script>
<script src="../static/js/controller/userCtrl.js"></script>
<script src="../static/js/controller/profileCtrl.js"></script>
<script src="../static/js/controller/approveUserCtrl.js"></script>
<script src="../static/js/controller/candidateCtrl.js"></script>
<script src="../static/js/controller/manageCtrl.js"></script>
<script src="../static/js/controller/reportCtrl.js"></script>
<script src="../static/js/controller/interviewCtrl.js"></script>
<script type="text/javascript">
</script>
<style type="text/css">

#logo {
    padding: 15px 0px;
}

.username {
	color: #D4001C;
}
</style>
</head>
<body ng-controller="DashboardCtrl">
	<header>
		<div class="container">
			<div id="logo">
				<img src="../static/images/logo.png" alt="Cubic App" />
			</div>
			<nav>
				<ul>
					<li><a href="#dashboard">Dashboard</a></li>
					<li><a href="#reports">Reports</a></li>
					<li><a href="#manage">Manage</a></li>
					<li ng-show="roleAdmin"><a href="#admin">Admin</a></li>
					<li class="pull-right"><span class="username">Welcome <strong>{{currentUser.firstName}}</strong> !</span> <a href="#profile">Profile</a> | <a href="/logout">Logout</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<section id="content">
		<div class="container">
			<div ng-view=""></div>
		</div>
	</section>
	<footer>
		<div class="container">
			<p>Copyright &copy; 2015. All rights reserved at Cubic
				Technologies.</p>
		</div>
	</footer>
</body>
</html>