<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	ng-app="cubicApp"
	>
<head>
<title>Cubic Report App</title>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
<script src="../static/js/bower_components/angular/angular.min.js"></script>
<script src="../static/js/bower_components/angular-route/angular-route.js"></script>
<script src="../static/js/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="../static/js/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../static/js/app.js"></script>
<script src="../static/js/controllers.js"></script>
<script src="../static/js/services/userService.js"></script>
<script src="../static/js/controller/dashboardCtrl.js"></script>
<script src="../static/js/controller/adminCtrl.js"></script>
<script src="../static/js/controller/userCtrl.js"></script>
<script src="../static/js/controller/profileCtrl.js"></script>
<style type="text/css">

#logo {
    padding: 15px 0px;
}

.username {
	color: #D4001C;
}
</style>
</head>
<body ng-controller="DashboardCtrl">
	<header>
		<div class="container">
			<div id="logo">
				<img src="../static/images/logo.png" alt="Cubic App" />
			</div>
			<nav>
				<ul>
					<li><a href="#dashboard">Dashboard</a></li>
					<li><a href="#reports">Reports</a></li>
					<li><a href="#manage">Manage</a></li>
					<li><a href="#admin">Admin</a></li>
					<li class="pull-right"><a href="#profile" class="username">Welcome <strong>{{currentUser.firstName}}</strong> !</a> | <a href="/logout">Logout</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<section id="content">
		<div class="container">
			<div ng-view=""></div>
		</div>
	</section>
	<footer>
		<div class="container">
			<p>Copyright &copy; 2015. All rights reserved at Cubic
				Technologies. Changed</p>
		</div>
	</footer>
</body>
</html>