<h1 class="page-head">
	<a href="#reports">Progress Report</a> / Interview Detail
</h1>
<button type="button" class="btn btn-primary"
	ng-click="updateSave(interview)">
	<span ng-show="!updateFlag">Edit Interview Details</span><span
		ng-show="updateFlag">Save</span>
</button>
<button type="button" ng-show="updateFlag" class="btn btn-default"
	ng-click="resetUpdate()">Cancel</button>
<div class="row">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-6">
				<h3>Interview Detail:</h3>
				<table class="table table-striped table-hover">
					<tr>
						<td>Candidate:</td>
						<td><span ng-show="!updateFlag"><a
								href="#candidate/{{interview.candidate.id}}">{{interview.candidate.firstName+"
									"+interview.candidate.lastName}}</a></span>
							<div class="col-sm-12" ng-show="updateFlag">
								<div class="row">
									<div class="col-sm-6">
										<select class="form-control" ng-change="displayUser()"
											ng-model="interviewDTO.candidate"
											ng-options="(c.firstName+' '+c.lastName) for c in listOfCandidates"><option
												value="">Choose</option></select>
									</div>
									<div class="col-sm-6">
										<a href="#">+ Add New</a>
									</div>
								</div>
							</div></td>
					</tr>
					<tr>
						<td>Client:</td>
						<td><span ng-show="!updateFlag">{{interview.client.name}}</span>

							<div class="col-sm-12" ng-show="updateFlag">
								<div class="row">
									<div class="col-sm-6">
										<select class="form-control" ng-model="interviewDTO.client"
											ng-options="c.name for c in listOfClients"><option
												value="">Choose</option></select>
									</div>
									<div class="col-sm-6">
										<input type="text" class="form-control"
											placeholder="New Client Name" ng-model="newClient.name" /> <a
											ng-click="addClient()" class="add-btn"><strong>+</strong></a>
									</div>
								</div>
							</div></td>
					</tr>
					<tr>
						<td>Vendor:</td>
						<td><span ng-show="!updateFlag">{{interview.vendor.name}}</span>
							<div class="col-sm-12" ng-show="updateFlag">
								<div class="row">
									<div class="col-sm-6">
										<select class="form-control" ng-change=""
											ng-model="interviewDTO.vendor"
											ng-options="c.name for c in listOfVendors"><option
												value="">Choose</option></select>
									</div>
									<div class="col-sm-6">
										<input type="text" class="form-control"
											placeholder="New Vendor Name" ng-model="newVendor.name" /> <a
											ng-click="addVendor()" class="add-btn"><strong>+</strong></a>
									</div>
								</div>
							</div></td>
					</tr>
					<tr>
						<td>Vendor Call Taker:</td>
						<td><span ng-show="!updateFlag"><a
								href="#user/{{interview.vc.email}}">{{interview.vc.firstName+"
									"+interview.vc.lastName}}</a></span>
							<div class="col-sm-12" ng-show="updateFlag">
								<div class="row">
									<div class="col-sm-6">
										<select class="form-control" ng-change=""
											ng-model="interviewDTO.vc"
											ng-options="(c.firstName+' '+c.lastName) for c in listOfVc"><option
												value="">Choose</option></select>
									</div>
								</div>
							</div></td>
					</tr>
					<tr>
						<td>Marketing:</td>
						<td><span ng-show="!updateFlag"><a
								href="#user/{{interview.marketing.email}}">{{interview.marketing.firstName+"
									"+interview.marketing.lastName}}</a></span>
							<div class="col-sm-12" ng-show="updateFlag">
								<div class="row">
									<div class="col-sm-6">
										<select class="form-control" ng-change=""
											ng-model="interviewDTO.marketing"
											ng-options="(c.firstName+' '+c.lastName) for c in listOfMarketingUsers"><option
												value="">Choose</option></select>
									</div>
								</div>
							</div></td>
					</tr>
					<tr>
						<td>Technology:</td>
						<td><span ng-show="!updateFlag">{{interview.technology.name}}</span>
							<div class="col-sm-12" ng-show="updateFlag">
								<div class="row">
									<div class="col-sm-6">
										<select class="form-control" ng-change=""
											ng-model="interviewDTO.technology"
											ng-options="c.name for c in listOfTechnologies"><option
												value="">Choose</option></select>
									</div>
									<div class="col-sm-6">
										<input type="text" class="form-control"
											placeholder="New Technology Name"
											ng-model="newTechnology.name" /> <a
											ng-click="addTechnology()" class="add-btn"><strong>+</strong></a>
									</div>
								</div>
							</div></td>
					</tr>
					<tr>
						<td>Status:</td>
						<td><span ng-show="!updateFlag">{{interview.status}}</span>
							<div class="col-sm-12" ng-show="updateFlag">
								<div class="row">
									<div class="col-sm-6">
										<select class="form-control" ng-change=""
											ng-model="interviewDTO.status"
											ng-options="c for c in listOfStatus"></select>
									</div>
								</div>
							</div></td>
					</tr>
				</table>
			</div>
			<div class="col-sm-6">
				<h3>Interview Rounds:</h3>
				<div ng-repeat="ir in interview.interviewRound"
					ng-show="!updateFlag">
					<h4>{{ir.round.name}}</h4>
					<table class="table interview-round {{ir.status}}">
						<tr>
							<td>Type</td>
							<td><span ng-show="!updateFlag">{{ir.interviewType.type}}</span>
							</td>
						</tr>
						<tr>
							<td>Call Taker</td>
							<td>{{ir.callTaker.firstName+" "+ir.callTaker.lastName}}</td>
						</tr>
						<tr>
							<td>Interview Date</td>
							<td>{{ir.interviewDate | date:"MM/dd/yyyy"}}</td>
						</tr>
						<tr>
							<td>Status</td>
							<td>{{ir.status}}</td>
						</tr>
					</table>
				</div>
				<div ng-show="updateFlag">
					<div ng-repeat="irDTO in interviewDTO.interviewRound">
						<h4>{{irDTO.round.name}}</h4>
						<table class="table interview-round {{irDTO.status}}">
							<tr>
								<td>Type</td>
								<td>
									<div class="col-sm-12">
										<div class="row">
											<div class="col-sm-6">
												<select class="form-control" ng-model="irDTO.interviewType"
													ng-options="c.type for c in listOfInterviewTypes"><option
														value="">Choose</option></select>
											</div>
											<div class="col-sm-6">
												<input type="text" class="form-control"
													placeholder="New Interview Type"
													ng-model="newInterviewType.type" /> <a
													ng-click="addInterviewType()" class="add-btn"><strong>+</strong></a>

											</div>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>Call Taker</td>
								<td>
									<div class="col-sm-12">
										<div class="row">
											<div class="col-sm-6">
												<select class="form-control" ng-model="irDTO.callTaker"
													ng-options="(c.firstName+' '+c.lastName) for c in listOfCallTakerUsers"><option
														value="">Choose</option></select>
											</div>
											<div class="col-sm-6">
												<a href="#">+ Add New</a>
											</div>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>Interview Date</td>
								<td>
									<div class="col-sm-12">
										<input type="text" name="date" class="form-control"
											model-view-value="true" ng-model="irDTO.interviewDate"
											ui-mask="99/99/9999" placeholder="MM/dd/yyyy" required
											 />
										
									</div>
								</td>
							</tr>
							<tr>
								<td>Status</td>
								<td>
									<div class="col-sm-12">
										<div class="row">
											<div class="col-sm-6">
												<select class="form-control" ng-model="irDTO.status"
													ng-options="c for c in listOfStatus"></select>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</table>
					</div>
					<table class="table interview-round {{newInterviewRound.status}}"
						ng-show="showHideAddRoundForm">
						<tr>
							<td>Round</td>
							<td>
								<div class="col-sm-12">
									<div class="row">
										<div class="col-sm-6">
											<select class="form-control"
												ng-model="newInterviewRound.round"
												ng-options="c.name for c in listOfRounds"><option
													value="">Choose</option></select>
										</div>
										<div class="col-sm-6">
											<input type="text" class="form-control"
												placeholder="New Interview Round"
												ng-model="newInterviewRound.name" /> <a
												ng-click="addInterviewRound()" class="add-btn"><strong>+</strong></a>

										</div>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>Type</td>
							<td>
								<div class="col-sm-12">
									<div class="row">
										<div class="col-sm-6">
											<select class="form-control"
												ng-model="newInterviewRound.interviewType"
												ng-options="c.type for c in listOfInterviewTypes"><option
													value="">Choose</option></select>
										</div>
										<div class="col-sm-6">
											<input type="text" class="form-control"
												placeholder="New Interview Type"
												ng-model="newInterviewType.type" /> <a
												ng-click="addInterviewType()" class="add-btn"><strong>+</strong></a>

										</div>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>Call Taker</td>
							<td>
								<div class="col-sm-12">
									<div class="row">
										<div class="col-sm-6">
											<select class="form-control"
												ng-model="newInterviewRound.callTaker"
												ng-options="(c.firstName+' '+c.lastName) for c in listOfCallTakerUsers"><option
													value="">Choose</option></select>
										</div>
										<div class="col-sm-6">
											<a href="#">+ Add New</a>
										</div>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>Interview Date</td>
							<td>
								<div class="col-sm-12">
									<input type="date" class="form-control" ng-model="date"
										placeholder="MM/dd/yyyy" />
								</div>
							</td>
						</tr>
						<tr>
							<td>Status</td>
							<td>
								<div class="col-sm-12">
									<div class="row">
										<div class="col-sm-6">
											<select class="form-control"
												ng-model="newInterviewRound.status"
												ng-options="c for c in listOfStatus"></select>
										</div>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<div class="col-sm-12">
									<button type="button" class="btn btn-primary"
										ng-click="addInterviewRound()">Add</button>
									<button type="button" class="btn btn-default"
										ng-click="hideAddRoundForm()">Cancel</button>
								</div>
							</td>
						</tr>
					</table>
					<a ng-click="toggleAddRoundForm()"><strong>+ Add Round</strong></a>
				</div>
			</div>
		</div>
	</div>
</div>