.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

nav ul li a {
	padding: 5px 10px;
	margin: 0px 5px;
	text-decoration: none !important;
	display: inline-block;
}

nav ul li {
	float: left;
	display: inline-block;
}

nav ul {
	list-style: outside none none;
	display: block;
	height: 30px;
	padding: 0px;
	border-top: 1px solid rgba(212, 0, 28, 0.15);
}

header {
	background: #E6E6E6;
}

nav {
	background: #eee;
}

#content {
	min-height: 500px;
	padding: 50px 0px;
}



footer {
	background: #ddd;
	padding: 15px 0px;
	color: #666;
}

.page-head {
	font-size: 25px;
	color: #888;
	margin-bottom: 20px;
}

.tab-content {
    padding: 30px 0px;
}

.interview-round {
    background: #eaeaea;
}

.PENDING {
	background: #fffcb6;
}
.APPROVED {
	background: #dcffdc;
}
.FAILED {
	background: #ffc9c9;
}
.CANCELED {
	background: #eee;
}
.table.interview-round tr td {
    padding: 2px 20px;
}


.add-btn {
    position: absolute;
    right: 0px;
    top: 50%;
    cursor: pointer;
    margin-top: -10px;
}

.btn.btn-primary {
	background: #D4001C;
	border: none;
}