<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
   
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
      Hi, <h4 th:text="${name}"> Name </h4>  
      Congratulations you have been approved as cubic user.
      
     <div class="footer navbar-fixed-bottom">
   <div id="logo" >
				
	</div>
    <p>
      Regards, <br />
      
      <img src="http://www.cubicit.net/images/logo.png" alt="Cubic App" /> <br />
      <em>The Cubic Team</em><br />
    </p>
    </div>
  </body>
</html>