<div class="col-sm-6">
	<form class="form-horizontal">
		<uib-alert dismiss-on-timeout="100" ng-show="success" type="success" close="closeAlert()">Password Changed Successfully!</uib-alert>
		<uib-alert dismiss-on-timeout="100" ng-show="error" type="danger" close="closeAlert()">{{errMessage}}</uib-alert>
		<div class="form-group">
			<label for="" class="col-sm-5 control-label">Old Password</label>
			<div class="col-sm-7">
				<input type="password" class="form-control" ng-model="cp_data.oldPassword"
					placeholder="Old Password" value="">
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-5 control-label">New Password</label>
			<div class="col-sm-7">
				<input type="password" class="form-control" ng-model="cp_data.password"
					placeholder="New Password" value="">
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-5 control-label">Old Password</label>
			<div class="col-sm-7">
				<input type="password" class="form-control" ng-model="cp_data.rePassword"
					placeholder="Confirm Password" value="">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-5 col-sm-7">
				<button type="submit" class="btn btn-default"
					ng-click="changePassword(cp_data)">Change Password </button>
			</div>
		</div>
	</form>
</div>
