<div class="col-sm-6">
	<form class="form-horizontal" name="user_details_form">
		<uib-alert class="alert alert-success" dismiss-on-timeout="100"
			ng-show="success" type="success" close="closeAlert()">Info
		Updated Successfully!</uib-alert>
		<uib-alert dismiss-on-timeout="100" ng-show="error" type="danger"
			close="closeAlert()">{{errMessage}}</uib-alert>
		<h3>Personal Detail:</h3>
		<div class="form-group">
			<label for="" class="col-sm-5 control-label">First Name</label>
			<div class="col-sm-7">
				<input type="text" name="firstname" class="form-control"
					ng-model="user.firstName" required placeholder="First Name"
					value="{{user.firstName}}"> <span style="color: red"
					ng-show="(user_details_form.firstname.$pristine || user_details_form.firstname.$dirty) && user_details_form.firstname.$invalid">
					<span ng-show="user_details_form.firstname.$error.required">required.</span>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-5 control-label">Middle Name</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" ng-model="user.middleName"
					placeholder="Middle Name" value="{{user.middleName}}">
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-5 control-label">Last Name</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="lastname"
					ng-model="user.lastName" required placeholder="Last Name"
					value="{{user.lastName}}">
				<!-- 					validation -->
				<span style="color: red"
					ng-show="(user_details_form.lastname.$pristine || user_details_form.lastname.$dirty )&& user_details_form.lastname.$invalid">
					<span ng-show="user_details_form.lastname.$error.required">required.</span>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-5 control-label">Email</label>
			<div class="col-sm-7">
				<input type="email" name="email" class="form-control"
					ng-model="user.email" required placeholder="Email"
					value="{{user.email}}"> <span style="color: red"
					ng-show="user_details_form.email.$pristine || user_details_form.email.$dirty && user_details_form.email.$invalid">
					<span ng-show="user_details_form.email.$error.required">required.</span>
					<span ng-show="user_details_form.email.$error.email">invalid
						email</span>
				</span>

			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-5 control-label">Phone Number</label>
			<div class="col-sm-7 row">

				<div class="col-sm-4">
					<input type="text" class="form-control" name="areacode"
						ng-model="user.phone.areaCode" required pattern="^[0-9]{3}"
						placeholder="" value="{{user.phone.areaCode}}"> <span
						style="color: red"
						ng-show="(user_details_form.areacode.$pristine || user_details_form.areacode.$dirty||user_details_form.areacode.$error.pattern) && user_details_form.areacode.$invalid ">
						<span ng-show="user_details_form.areacode.$error.required">required</span> <span
						ng-show="user_details_form.areacode.$error.pattern">3 digits</span>
					</span>

				</div>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="prefix"
						ng-model="user.phone.prefixValue" required pattern="^[0-9]{3}"
						placeholder="" value="{{user.phone.prefixValue}}"> <span
						style="color: red"
						ng-show="(user_details_form.prefix.$pristine || user_details_form.prefix.$dirty ||user_details_form.prefix.$error.pattern) && user_details_form.prefix.$invalid ">
						<span ng-show="user_details_form.prefix.$error.required">required.</span> <span
						ng-show="user_details_form.prefix.$error.pattern">3 digits.</span>
					</span>

				</div>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="lastfourdigits"
						ng-model="user.phone.number" required pattern="^[0-9]{4}"
						placeholder="" value="{{user.phone.number}}"> <span
						style="color: red"
						ng-show="(user_details_form.lastfourdigits.$pristine || user_details_form.lastfourdigits.$dirty || user_details_form.lastfourdigits.$error.pattern )&& user_details_form.lastfourdigits.$invalid ">
						<span ng-show="user_details_form.lastfourdigits.$error.required">required.</span> <span
						ng-show="user_details_form.lastfourdigits.$error.pattern">4 digits</span>
					</span>
				</div>
			</div>
		</div>
		<h3>Address:</h3>
		<div class="form-group">
			<label for="" class="col-sm-5 control-label">Address Line 1</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="address1"
					ng-model="user.address.address" required pattern=".{5,50}" placeholder="Address Line 1"
					value="{{user.address.address}}">
					
					<span
						style="color: red"
						ng-show="(user_details_form.address1.$pristine || user_details_form.address1.$dirty || user_details_form.address1.$error.pattern)&& user_details_form.address1.$invalid ">
						<span ng-show="user_details_form.address1.$error.required">required</span> 
						<span
						ng-show="user_details_form.address1.$error.pattern"> range 5 to 50 characters</span>
					</span>
					
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-5 control-label">Address Line 2</label>
			<div class="col-sm-7">
				<input type="text" class="form-control"
					ng-model="user.address.address1" placeholder="Address Line 2"
					value="{{user.address.address1}}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-5 control-label"> City</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="city" ng-model="user.address.city"
					required placeholder="City" value="{{user.address.city}}">
					<span style="color: red"
					ng-show="(user_details_form.city.$pristine || user_details_form.city.$dirty) && user_details_form.city.$invalid">
					<span ng-show="user_details_form.city.$error.required">required.</span>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-5 control-label"> State</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="state"
					ng-model="user.address.state" required placeholder="State"
					value="{{user.address.state}}">
					<span style="color: red"
					ng-show="(user_details_form.state.$pristine || user_details_form.state.$dirty) && user_details_form.state.$invalid">
					<span ng-show="user_details_form.state.$error.required">required.</span>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-5 control-label">Zip Code</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="zipcode"
					ng-model="user.address.zipCode" required pattern="^[0-9]{5}" placeholder="Zip Code"
					value="{{user.address.zipCode}}">
					<span style="color: red"
					ng-show="(user_details_form.zipcode.$pristine || user_details_form.zipcode.$dirty) && user_details_form.zipcode.$invalid">
					<span ng-show="user_details_form.zipcode.$error.required">required.</span>
					<span
						ng-show="user_details_form.zipcode.$error.pattern">5 digits</span>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-5 control-label">Country</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="country"
					ng-model="user.address.country" required placeholder="Country"
					value="{{user.address.country}}">
					
					<span style="color: red"
					ng-show="(user_details_form.country.$pristine || user_details_form.country.$dirty || user_details_form.address1.$error.pattern) && user_details_form.country.$invalid">
					<span ng-show="user_details_form.country.$error.required">required.</span>
				</span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-5 col-sm-7">
				<button type="submit" class="btn btn-default" 
						ng-click="updateUser(user)"
					ng-disabled="user_details_form.$invalid"
					>Update</button>
			</div>
		</div>
	</form>
</div>
